@charset "utf-8";

*{padding:0; margin:0;}
ul,li,ol{list-style:none;}
body{
  font-family:'맑은고딕', arial, sans-serif;
  font-size:12px;
  color:#333;
  height:100%;
  background-color:#eff3f7;
}

/* pc버전 */
@media screen and (min-width:768px) {
  .header{
    position:fixed;
    left:0px; top:0px;
    /* background-color:#ccc; */
    width:180px; height: 100vh;
  }
  .header > h1{
    text-align:center;
    padding:15px 0px;
  }
  main{
    position:absolute;
    width:calc(100% - 180px);
    height:100%;
    left:180px; top:0px;
    box-sizing:border-box;
    padding: 30px;
  }
}
/* mobile 버전 */
@media screen and (max-width:767px) {
  .header{
    position: absolute;
    width:100%; top:0px;
  }
  .header > h1{
    text-align:center;
    padding: 15px 0px;
  }
  main{
    position:absolute;
    /* width:calc(100% - 180px); */
    height:calc(100% - 100px);
    left:0; top: 100px;
    box-sizing:border-box;
    padding: 30px;
  }
}
section{
  display:flex;
  flex-wrap:wrap;
  gap:50px;
  margin: 100px;
}
.load_box{
  position: absolute;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
